# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore Git internal files
.git/

# Ignore specific files
db_manager.py
test_file.py
docker-compose.yml

# Ignore specific configuration files
static/json/game_config.json
static/json/llm_config.json

# Ignore optional environment/IDE folders 
.vscode/
.env/
*.log
.DS_Store
Thumbs.db

# Ignore folder containing details for features
features/
test/
context.txt
database/data/conversation_history.db
backend/database/data/conversation_history.db
